chinese_calendar
cycler
dtw
einops
fonttools
loguru
matplotlib
mysql-connector
mysql-connector-python
numpy
opencv-python
openpyxl
pandas
pillow
pipreqs
pyaml
Pygments
pytorch-toolbelt
PyYAML
requests
schedule
scikit-learn
scikit-optimize
scipy
six
timm
tqdm
xgboost
