numpy==1.24.4
chinese_calendar
cycler
einops
fonttools
mysql-connector
pillow
pipreqs
pyaml
Pygments
PyYAML
pymysql
scikit-learn
scikit-optimize
scikit-fuzzy
scipy
six
polars
setuptools
beautifulsoup4
loguru
mysql-connector-python
PyMySQL
imblearn
openpyxl
pandas
python_dateutil
redis
requests
schedule
lxml
pyexecjs
lightgbm
xgboost
optuna
optuna-integration
