name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  pytorch-build:
    runs-on: ubuntu-latest
    steps:
      - name: 清理磁盘空间
        run: |
          # 删除 apt 缓存
          sudo apt clean
          # 删除 Runner 缓存的旧日志(_diag 目录下的历史日志)
          rm -rf /home/runner/actions-runner/cached/_diag/*.log
      - name: 清理Docker构建缓存
        run: docker builder prune -f --filter "until=24h"
      - name: 读取仓库内容
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: 登录阿里云acr
        env:
          ACR_REGISTRY: ${{ secrets.ACR_REGISTRY }}
          ACR_USERNAME: ${{ secrets.ACR_USERNAME }}
          ACR_PASSWORD: ${{ secrets.ACR_PASSWORD }}
        run: echo -n "$ACR_PASSWORD" | docker login $ACR_REGISTRY -u $ACR_USERNAME --password-stdin
      - name: 构建镜像并推送
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.algorithm_general_image
          push: true
          # tags: ${{ secrets.ACR_REGISTRY }}/dkzx_test/algorithm_base_image:prefect_3.4.14
          # tags: ${{ secrets.ACR_REGISTRY }}/dkzx_test/prefect-work-pool:algorithm_4.0
          # tags: ${{ secrets.ACR_REGISTRY }}/dkzx_test/algorithm:algorithm_evaluation_workpool
          tags: ${{ secrets.ACR_REGISTRY }}/dkzx_test/algorithm:general_image
      
      